
// Blogpost Content

.blogpost {
    width: 100%;

    // Content Wrapper
    &__content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: $white-color;
    }

    // Text Part 1 and Side Authors Section
    &__content-up {
        display: flex;
    }

    @import './title/title';
    @import './side-section/side-section';
    @import './text/text';
    @import './tags/tags';
    @import './share/share';
    @import './comments/comments';
    @import './todo-comment/todo-comment';

}