
// Importing Typography, Variables and Reset Files
@import './00_base/module';


// CSS

// Stars Page Background
.background {
  width: 100%;
  height: 100vh;
  background: url(/assets/background.png);
  position: fixed;
  top: 0;
  z-index: -1;
}

// Azure Image, Burger Menu and Search Icon
.content {
  &-wrapper {
    width: 91.5625%;
    margin: 4.21875%;
    background: transparent;
    position: relative;
    z-index: 0;
  }

  &__navigation {
    width: 91.4675%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
  }

  &__azure-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__azure-img {
    width: 100%;
    height: auto;
  }
}

// Blog Content
.blogpost {
  width: 100%;

  // Heading and Heading Background Image
  &__title {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: url(/assets/stars.png);
    background-size: 100% 100%;

    &-img {
      width: 100%;
      height: auto;
    }

    &-wrapper {
      width: 64.5%;
      height: 215px;
      margin: 130px auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-tag {
      width: 56px;
      height: 8px;
      color: $gold-color;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-heading {
      width: 100%;
      margin: 0;
      margin-top: 15px;
      color: $white-color;
      font-family: "Lato Bold", sans-serif;
      font-size: 60px;
    }
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $white-color;
  }

  // Authors Left Section
  &__author {
    width: 14.67%;
    height: 176px;
    margin-left: 8.61%;
    margin-top: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: +1;

    &-names {
      width: 74%;
    }

    &-by {
      font-family: "PlayfairDisplay Regular", sans-serif;
      font-size: 13px;
      color: $lightgray-color;
      margin-right: 70%;
    }

    &-name {
      text-decoration: none;
      font-family: "PlayfairDisplay Regular", sans-serif;
      font-size: 13px;
      line-height: 20px;
      color: $blacksecondary-color;

      &:hover {
        border-bottom: 1px solid $blacksecondary-color;
      }
    }

    &-comma {
      margin-left: -2px;
      font-family: "PlayfairDisplay";
      font-size: 13px;
      color: $black-color;
    }

    &-and {
      font-family: "PlayfairDisplay Regular", sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: $black-color;
    }

    &-bottomline {
      width: 100%;
      min-height: 2px;
      margin-top: 30px;
      background-color: $lightergray-color;
    }

    &-medias {
      display: flex;
      margin-top: 29px;
      width: 76.5%;
      height: 32px;
    }

    &-media {
      margin-right: 21.19%;

      &icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  // Blog Text
  &__text {
    font-family: "PlayfairDisplay Regular", sans-serif;
    font-size: 16px;
    color: $blacksecondary-color;
    text-align: start;
    line-height: 34px;
    margin: 0 0 58px 0;

    &-wrapper {
      width: 46.16%;
      margin: 50px 0 0 35px;
    }

    &-blockquote {
      margin: 0;
      width: 70%;
      font-family: "Lato Bold", sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: $blacksecondary-color;
      text-align: center;

      &-wrapper {
        width: 100%;
        height: 181px;
        margin: 56px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-secondtitle {
      width: 45%;
      margin: 0 0 41px 3px;
      font-family: "Lato", sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: $blacksecondary-color;
    }

    &-img {
      width: 100%;
      height: auto;

      &-wrapper {
        width: 100%;
        overflow: hidden;
      }
    }

    &-last {
      margin: 0 0 50px 0;
      font-family: "PlayfairDisplay Regular", sans-serif;
      font-size: 16px;
      color: $blacksecondary-color;
      text-align: start;
      line-height: 34px;
    }
  }

  // Blog Relationated Tags
  &__tags {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;

    &-wrapper {
      width: 100%;
    }

    &-link {
      text-decoration: none;
      font-family: "Lato", sans-serif;
      color: $mediumgray-color;
      text-transform: uppercase;
      font-size: 10px;
    }

    &-tag {
      background-color: $lightergray-color;
      padding: 5px 10px;
      letter-spacing: 0.5px;
      border-radius: 5px;
      margin-right: 9px;
      transition: all 0.4s;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.4s;
      }
    }
  }

  // Blog Share Buttons
  &__share {
    &-wrapper {
      width: 68.76%;
      height: 31px;
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      margin-right: 0;
    }

    &-text {
      width: 45px;
      font-family: "Lato", sans-serif;
      color: $blacksecondary-color;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 10px;
      font-weight: bold;
    }

    &-media {
      width: 71px;
      height: 31px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: opacity 0.4s;

      &.facebook {
        background-color: $facebook-bgcolor;
        border-radius: 4px;
        margin-left: 55px;
        text-decoration: none;

        &-num {
          margin: 2px 0 0 0;
          font-family: "Lato", sans-serif;
          color: $white-color;
          font-size: 12px;
        }

        &-icon {
          margin: 0 5px 0 7px;
          width: 15px;
          height: 15px;
        }
      }

      &.twitter {
        background-color: $twitter-bgcolor;
        border-radius: 4px;
        margin-left: 30px;
        text-decoration: none;

        &-num {
          margin: 2px 0 0 0;
          font-family: "Lato", sans-serif;
          color: $white-color;
          font-size: 12px;
        }

        &-icon {
          margin: 0 5px 0 10px;
          width: 15px;
          height: 15px;
        }
      }

      &.google {
        background-color: $google-bgcolor;
        border-radius: 4px;
        margin-left: 30px;
        text-decoration: none;

        &-num {
          margin: 2px 0 0 0;
          font-family: "Lato", sans-serif;
          color: $white-color;
          font-size: 12px;
        }

        &-icon {
          margin: 0 5px 0 10px;
          width: 15px;
          height: 15px;
        }
      }

      &:hover {
        opacity: 0.7;
        transition: opacity 0.4s;
      }
    }
  }

  // Blog Comments Section
  &__comment {
    &-title {
      font-family: "Lato Regular", sans-serif;
      font-size: 14px;
      color: $gray-color;
      padding-bottom: 27px;
      margin: 0;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 27px 0;
      border-top: 1px solid $lightergray-color;
    }

    &-img {
      border-radius: 50%;
      width: 50px;
      transition: opacity 0.4s;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.4s;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      margin-left: 8.66%;
      width: 90.46%;

      &-up {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15px;
        margin-bottom: 24px;
      }
    }

    &-author {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Lato Bold", sans-serif;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 10px;
      color: $blacksecondary-color;
      margin-right: 20px;

      &:hover {
        text-decoration: underline;
        transition: all 0.4s;
      }
    }

    &-date {
      display: flex;

      &-time {
        margin: 0;
        font-family: "Lato Regular", sans-serif;
        font-size: 10px;
        color: $date-color;
      }

      &icon {
        width: 13px;
        height: 10px;
        margin-right: 5px;
      }
    }

    &-text {
      margin: 0;
      font-family: "PlayfairDisplay Regular", sans-serif;
      font-size: 13px;
      color: $lightgray-color;
    }
  }

  &__todocomment {
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 25px 0;
      margin-bottom: 80px;
      border-bottom: 1px solid $lightergray-color;
      border-top: 1px solid $lightergray-color;
    }

    &-img {
      border-radius: 50%;
      width: 55px;
      transition: opacity 0.4s;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.4s;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      margin-left: 8.66%;
      width: 90.46%;
    }

    &-input {
      border: none;
      outline: none;
      color: $lightgray-color;

      &::placeholder {
        font-family: "PlayfairDisplay Italic";
        font-style: italic;
        font-size: 13px;
        color: $input-color;
      }
    }
  }
}

// CUSTOMIZING ICONS

// Blockquote Quotes
.blockquote {
  &-quote1 {
    transform: rotateZ(180deg);
    width: 40px;
    height: 29px;
  }

  &-italic {
    font-family: "PlayfairDisplay Italic";
    font-weight: 400;
  }
}

// Burger Menu Icon
.burger-icon {
  width: 21px;
  transition: all 0.3s;

  & line {
    stroke: $white-color;
    stroke-width: 2px;
    fill: transparent;
  }

  &:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale3d(1.3, 1.3, 1.3);
  }
}

// Search Icon
.magnifying-glass-icon {
  width: 20px;
  transition: all 0.3s;

  & line,
  circle {
    stroke: $white-color;
    stroke-width: 2px;
    fill: transparent;
  }

  &:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale3d(1.3, 1.3, 1.3);
  }
}

// MEDIA QUERY
@media (max-width: 769px) {

  .blogpost {
    
    &__title-heading {
    font-size: 48px;
    }

    &__author-names {
      width: 100%;
    }

    &__author-mediaicon {
      width: 22px;
      height: 22px;
    }
  }
}