@font-face {
  font-family: "Lato";
  src: url(/src/assets/Fonts/Lato/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Bold';
  src: url(/src/assets/Fonts/Lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Italic';
  src: url(/src/assets/Fonts/Lato/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Regular';
  src: url(/src/assets/Fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'PlayfairDisplay Regular';
  src: url(/src/assets/Fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'PlayfairDisplay Bold';
  src: url(/src/assets/Fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'PlayfairDisplay Italic';
  src: url(/src/assets/Fonts/Playfair_Display/PlayfairDisplay-Italic.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  background: url(/assets/background.png);
  position: absolute;
  z-index: -2;
}

.content-wrapper {
  width: 91.5625%;
  margin: 4.21875%;
  background: transparent;
  position: relative;
  z-index: -2;
}

.content__navigation {
  width: 91.4675%;
  margin: 0 auto;
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

.content__azure-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__azure-img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.burger-icon {
  width: 21px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger-icon line {
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
}

.burger-icon:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
          transform: scale3d(1.3, 1.3, 1.3);
}

.magnifying-glass-icon {
  width: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.magnifying-glass-icon line,
.magnifying-glass-icon circle {
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
}

.magnifying-glass-icon:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
          transform: scale3d(1.3, 1.3, 1.3);
}

.blogpost {
  width: 100%;
}

.blogpost__title {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/assets/stars.png);
  background-size: 100% 100%;
}

.blogpost__title-img {
  z-index: -1;
  width: 100%;
  height: auto;
}

.blogpost__title-wrapper {
  width: 64.5%;
  height: 199px;
  margin: 130px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blogpost__title-tag {
  width: 57px;
  height: 8px;
  color: #cab500;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.blogpost__title-tag:hover {
  text-decoration: underline;
  cursor: pointer;
}

.blogpost__title-heading {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 60px;
}

.blogpost__content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -1;
  background-color: #fff;
}

.blogpost__author {
  width: 14.67%;
  height: 176px;
  margin-left: 8.61%;
  margin-top: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blogpost__author-names {
  width: 67.44%;
  height: 85px;
}

.blogpost__author-by {
  font-family: "PlayfairDisplay Regular";
  font-size: 13px;
  color: #999999;
  margin-right: 70%;
}

.blogpost__author-name {
  text-decoration: none;
  font-family: "PlayfairDisplay Regular";
  font-size: 13px;
  color: #000;
}

.blogpost__author-name:hover {
  border-bottom: 1px solid #333;
}

.blogpost__author-comma {
  margin-left: -2px;
  font-family: "PlayfairDisplay";
  font-size: 13px;
  color: #000;
}

.blogpost__author-and {
  font-family: "PlayfairDisplay Regular";
  font-size: 13px;
  color: #000;
}

.blogpost__author-bottomline {
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.blogpost__text {
  font-family: "PlayfairDisplay-Regular";
  font-size: 16px;
  color: #333;
  text-align: start;
  margin: 0 0 40px 0;
}

.blogpost__text-wrapper {
  width: 46.16%;
  margin: 50px 0 0 35px;
}

.blogpost__text-blockquote {
  margin: 0;
  width: 70%;
  font-family: "Lato Bold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.blogpost__text-blockquote-wrapper {
  width: 100%;
  height: 181px;
  margin: 56px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogpost__text-secondtitle {
  width: 42%;
  margin-left: 3px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.blogpost__text-img {
  width: 100%;
  height: auto;
}

.blogpost__text-img-wrapper {
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}

.blogpost__tags {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogpost__tags-wrapper {
  width: 100%;
}

.blogpost__tags-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #74797e;
  text-transform: uppercase;
  font-size: 10px;
}

.blogpost__tags-link:hover {
  opacity: .7;
  cursor: pointer;
}

.blogpost__tags-tag {
  background-color: #eeeeee;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  margin-right: 9px;
}

.blogpost__share-wrapper {
  width: 68.76%;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-right: 0;
}

.blogpost__share-text {
  width: 45px;
  font-family: "Lato", sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  font-weight: bold;
}

.blogpost__share-media {
  width: 71px;
  height: 31px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blogpost__share-media.facebook {
  background-color: #4c68b3;
  border-radius: 4px;
  margin-left: 56px;
  text-decoration: none;
}

.blogpost__share-media.facebook-num {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 12px;
}

.blogpost__share-media.twitter {
  background-color: #00abed;
  border-radius: 4px;
  margin-left: 30px;
  text-decoration: none;
}

.blogpost__share-media.twitter-num {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 12px;
}

.blogpost__share-media.gmail {
  background-color: #d73d32;
  border-radius: 4px;
  margin-left: 30px;
  text-decoration: none;
}

.blogpost__share-media.gmail-num {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 12px;
}

.blogpost__comment-title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #757a7f;
  padding-bottom: 30px;
  margin: 0;
}

.blogpost__comment-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-top: 1px solid #eeeeee;
}

.blogpost__comment-img {
  border-radius: 50%;
  width: 55px;
}

.blogpost__comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8.66%;
  width: 90.46%;
}

.blogpost__comment-content-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.blogpost__comment-author {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 8px;
  color: #333;
  margin-right: 20px;
}

.blogpost__comment-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogpost__comment-date-time {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  font-size: 10px;
  color: #afafaf;
}

.blogpost__comment-text {
  margin: 0;
  font-family: "PlayfairDisplay Regular";
  font-size: 13px;
  color: #999999;
}

.blogpost__todocomment-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  margin-bottom: 80px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

.blogpost__todocomment-img {
  border-radius: 50%;
  width: 55px;
}

.blogpost__todocomment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8.66%;
  width: 90.46%;
}

.blogpost__todocomment-input {
  border: none;
}

.blogpost__todocomment-input::-webkit-input-placeholder {
  font-family: "PlayfairDisplay Italic";
  font-style: italic;
  font-size: 13px;
  color: #d5d5d5;
}

.blogpost__todocomment-input:-ms-input-placeholder {
  font-family: "PlayfairDisplay Italic";
  font-style: italic;
  font-size: 13px;
  color: #d5d5d5;
}

.blogpost__todocomment-input::-ms-input-placeholder {
  font-family: "PlayfairDisplay Italic";
  font-style: italic;
  font-size: 13px;
  color: #d5d5d5;
}

.blogpost__todocomment-input::placeholder {
  font-family: "PlayfairDisplay Italic";
  font-style: italic;
  font-size: 13px;
  color: #d5d5d5;
}

.blockquote-quote1 {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  width: 40px;
  height: 29px;
}

.blockquote-italic {
  font-family: 'PlayfairDisplay Italic';
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */