
// Tablet Media Query
@media (max-width: 769px) and (min-width: 600px) {
    .blogpost {
      &__title {
        &-heading {
          font-size: 36px;
          margin-top: 10px;
        }
        &-tag {
          font-size: 8px;
        }
      }
      &__author {
        font-size: 10px;

        &-names {
        width: 100%;
        }
      }
      &__text-wrapper {
          width: 60%;
      }
    }
    .fa-facebook.media,
    .fa-twitter.media,
    .fa-google-plus.media {
      width: 20px;
      height: 20px;
    }
  }