
// Authors Left Section Media Icons Wrapper

&-medias {
    display: flex;
    margin-top: 29px;
    width: 76.5%;
    height: 32px;
}

&-media {
    margin-right: 12.5%;
    text-decoration: none;
}