
// VARIABLES
$gold-color: #cab500;
$white-color: #fff;
$black-color: #000;
$blacksecondary-color: #333333;
$lightgray-color: #999999;
$gray-color: #757a7f;
$mediumgray-color: #74797e;
$lightergray-color: #eeeeee;
$date-color: #afafaf;
$twitter-bgcolor: #00abed;
$facebook-bgcolor: #4c68b3;
$google-bgcolor: #d73d32;
$input-color: #d5d5d5;