
// Blogpost Last Text

&-last {
    margin: 0 0 50px 0;
    font-family: "PlayfairDisplay", sans-serif;
    font-size: 16px;
    color: $blacksecondary-color;
    text-align: start;
    line-height: 34px;
  }