
// Blogpost Last Text

&-last {
    margin-bottom: 45px;
    font-family: "PlayfairDisplay", sans-serif;
    font-size: 16px;
    color: $blacksecondary-color;
    text-align: start;
    line-height: 34px;
  }