
// Blogpost Text

&__text {
    font-family: "PlayfairDisplay", sans-serif;
    font-size: 16px;
    color: $blacksecondary-color;
    line-height: 34px;
    margin-bottom: 50px;
    margin-top: 0;

    &-wrapper {
        width: 46.16%;
        margin: 47px 0 0 35px;
      }

    @import './blockquote';
    @import './secondtitle';
    @import './image';
    @import './last-text';

}