
// Blogpost Facebook Sharing Button

&.facebook {
    background-color: $facebook-bgcolor;
    border-radius: 4px;
    margin-left: 55px;
    text-decoration: none;

    &-num {
      padding: 6px 6px 6px 24px;
      font-family: "Lato", sans-serif;
      color: $white-color;
      font-size: 12px;
    }
  }