
// Blogpost "Share" Word

&-text {
    width: 45px;
    font-family: "Lato", sans-serif;
    color: $blacksecondary-color;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 10px;
    font-weight: bold;
  }